// extends the default layout page
extends layout
// Inculde that enables to use mixin
include _includes/sharedHTMLfunctions

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader.title
                    small &nbsp;#{pageHeader.strapline}
    .row
        .col-xs-12.col-sm-8
            .row.list-group
                // location var that loops from locations in object in controller
                each location in locations
                    .col-xs-12.list-group-item
                        h4
                            a(href="/location-info")= location.name
                            small &nbsp &nbsp &nbsp;
                                +outputRating(location.rating)
                                //mixin that runs a for loop from _includes folder
                            span.badge.pull-right.badge-default= location.distance
                        //get address from location in locations
                        p.address= location.address
                        p
                            each facility in location.facilities
                                span.label.label-warning= facility
                                //get facility from controller
                                | &nbsp &nbsp;

        .col-xs-12.col-sm-4
            p.lead= sidebar
            //get sidebar from controller